::-moz-selection { /* firefox */
	color: #FBFBFB;
	background: #F93154;
}
  
::selection {
	color: #FBFBFB;
	background: #F93154;
}

.blockquote-footer:before {
	content: none;
}

.border-left {
	border-left-width: 3px !important;
}

figcaption ul li {
	max-width: 80%;;
}

#navbar-collapsed li a:hover {
	color: #F93154;
}

#quote-mask {
	background: #ff9a9e;
	background: -webkit-linear-gradient(to top, rgba(255, 154, 158, 0.5), rgba(250, 208, 196, 0.5));
	background: linear-gradient(to top, rgba(255, 154, 158, 0.5), rgba(250, 208, 196, 0.5))
}

#intro-mask {
	background: #e6e9f0;
	background: -webkit-linear-gradient(to top, rgba(230, 233, 240, 0.5), rgba(238, 241, 245, 0.5));
	background: linear-gradient(to top, rgba(230, 233, 240, 0.5), rgba(238, 241, 245, 0.5))
}

.fixed-image {
	background-repeat: no-repeat;
  	background-attachment: fixed;
}