body {
  caret-color: #278942;
}

.el-button {
  display: block !important;
  width: 100% !important;
}

.cog-abuse, .cog-branding, .cog-branding--minimal, .cog-loader {
  display: none !important;
}

.el-input, .el-textarea, .el-button {
  --highlight: #278942 !important;
}

#snowflakes {
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;

  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow: hidden;
}
.snow {
  position: absolute;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;
}
.snow:nth-child(1) {
  opacity: 0.502;
  transform: translate(81.4287vw, -10px) scale(0.7776);
  animation: fall-1 18s -27s linear infinite;
}
@keyframes fall-1 {
  41.251% {
      transform: translate(78.7649vw, 41.251vh) scale(0.7776);
 }
  to {
      transform: translate(80.0968vw, 100vh) scale(0.7776);
 }
}
.snow:nth-child(2) {
  opacity: 0.3545;
  transform: translate(17.86vw, -10px) scale(0.7912);
  animation: fall-2 27s -19s linear infinite;
}
@keyframes fall-2 {
  41.882% {
      transform: translate(26.0142vw, 41.882vh) scale(0.7912);
 }
  to {
      transform: translate(21.9371vw, 100vh) scale(0.7912);
 }
}
.snow:nth-child(3) {
  opacity: 0.3924;
  transform: translate(32.2862vw, -10px) scale(0.9538);
  animation: fall-3 27s -18s linear infinite;
}
@keyframes fall-3 {
  63.711% {
      transform: translate(38.0003vw, 63.711vh) scale(0.9538);
 }
  to {
      transform: translate(35.14325vw, 100vh) scale(0.9538);
 }
}
.snow:nth-child(4) {
  opacity: 0.3582;
  transform: translate(74.0576vw, -10px) scale(0.127);
  animation: fall-4 18s -12s linear infinite;
}
@keyframes fall-4 {
  52.358% {
      transform: translate(66.3929vw, 52.358vh) scale(0.127);
 }
  to {
      transform: translate(70.22525vw, 100vh) scale(0.127);
 }
}
.snow:nth-child(5) {
  opacity: 0.7142;
  transform: translate(50.0417vw, -10px) scale(0.8705);
  animation: fall-5 20s -11s linear infinite;
}
@keyframes fall-5 {
  48.337% {
      transform: translate(56.4674vw, 48.337vh) scale(0.8705);
 }
  to {
      transform: translate(53.25455vw, 100vh) scale(0.8705);
 }
}
.snow:nth-child(6) {
  opacity: 0.4193;
  transform: translate(74.5053vw, -10px) scale(0.2077);
  animation: fall-6 24s -10s linear infinite;
}
@keyframes fall-6 {
  33.162% {
      transform: translate(78.6854vw, 33.162vh) scale(0.2077);
 }
  to {
      transform: translate(76.59535vw, 100vh) scale(0.2077);
 }
}
.snow:nth-child(7) {
  opacity: 0.3028;
  transform: translate(49.4779vw, -10px) scale(0.9372);
  animation: fall-7 10s -13s linear infinite;
}
@keyframes fall-7 {
  42.204% {
      transform: translate(42.5265vw, 42.204vh) scale(0.9372);
 }
  to {
      transform: translate(46.0022vw, 100vh) scale(0.9372);
 }
}
.snow:nth-child(8) {
  opacity: 0.8174;
  transform: translate(61.2493vw, -10px) scale(0.67);
  animation: fall-8 21s -15s linear infinite;
}
@keyframes fall-8 {
  53.328% {
      transform: translate(67.0472vw, 53.328vh) scale(0.67);
 }
  to {
      transform: translate(64.14825vw, 100vh) scale(0.67);
 }
}
.snow:nth-child(9) {
  opacity: 0.105;
  transform: translate(66.8622vw, -10px) scale(0.4612);
  animation: fall-9 10s -3s linear infinite;
}
@keyframes fall-9 {
  60.752% {
      transform: translate(70.2144vw, 60.752vh) scale(0.4612);
 }
  to {
      transform: translate(68.5383vw, 100vh) scale(0.4612);
 }
}
.snow:nth-child(10) {
  opacity: 0.4087;
  transform: translate(12.5596vw, -10px) scale(0.4855);
  animation: fall-10 23s -17s linear infinite;
}
@keyframes fall-10 {
  54.787% {
      transform: translate(11.4542vw, 54.787vh) scale(0.4855);
 }
  to {
      transform: translate(12.0069vw, 100vh) scale(0.4855);
 }
}
.snow:nth-child(11) {
  opacity: 0.4003;
  transform: translate(31.2652vw, -10px) scale(0.0179);
  animation: fall-11 13s -25s linear infinite;
}
@keyframes fall-11 {
  51.687% {
      transform: translate(22.8675vw, 51.687vh) scale(0.0179);
 }
  to {
      transform: translate(27.06635vw, 100vh) scale(0.0179);
 }
}
.snow:nth-child(12) {
  opacity: 0.326;
  transform: translate(27.1076vw, -10px) scale(0.7898);
  animation: fall-12 23s -15s linear infinite;
}
@keyframes fall-12 {
  68.946% {
      transform: translate(18.4358vw, 68.946vh) scale(0.7898);
 }
  to {
      transform: translate(22.7717vw, 100vh) scale(0.7898);
 }
}
.snow:nth-child(13) {
  opacity: 0.0596;
  transform: translate(26.6605vw, -10px) scale(0.3434);
  animation: fall-13 15s -23s linear infinite;
}
@keyframes fall-13 {
  60.107% {
      transform: translate(23.4784vw, 60.107vh) scale(0.3434);
 }
  to {
      transform: translate(25.06945vw, 100vh) scale(0.3434);
 }
}
.snow:nth-child(14) {
  opacity: 0.8988;
  transform: translate(0.2943vw, -10px) scale(0.4251);
  animation: fall-14 23s -5s linear infinite;
}
@keyframes fall-14 {
  45.574% {
      transform: translate(-5.8487vw, 45.574vh) scale(0.4251);
 }
  to {
      transform: translate(-2.7772vw, 100vh) scale(0.4251);
 }
}
.snow:nth-child(15) {
  opacity: 0.4941;
  transform: translate(14.4667vw, -10px) scale(0.4358);
  animation: fall-15 15s -24s linear infinite;
}
@keyframes fall-15 {
  46.643% {
      transform: translate(14.9768vw, 46.643vh) scale(0.4358);
 }
  to {
      transform: translate(14.72175vw, 100vh) scale(0.4358);
 }
}
.snow:nth-child(16) {
  opacity: 0.1439;
  transform: translate(93.5544vw, -10px) scale(0.5967);
  animation: fall-16 24s -1s linear infinite;
}
@keyframes fall-16 {
  67.068% {
      transform: translate(87.6662vw, 67.068vh) scale(0.5967);
 }
  to {
      transform: translate(90.6103vw, 100vh) scale(0.5967);
 }
}
.snow:nth-child(17) {
  opacity: 0.0205;
  transform: translate(90.8303vw, -10px) scale(0.4522);
  animation: fall-17 21s -10s linear infinite;
}
@keyframes fall-17 {
  46.887% {
      transform: translate(86.1152vw, 46.887vh) scale(0.4522);
 }
  to {
      transform: translate(88.47275vw, 100vh) scale(0.4522);
 }
}
.snow:nth-child(18) {
  opacity: 0.2836;
  transform: translate(87.8705vw, -10px) scale(0.6459);
  animation: fall-18 17s -20s linear infinite;
}
@keyframes fall-18 {
  31.318% {
      transform: translate(84.3742vw, 31.318vh) scale(0.6459);
 }
  to {
      transform: translate(86.12235vw, 100vh) scale(0.6459);
 }
}
.snow:nth-child(19) {
  opacity: 0.4699;
  transform: translate(31.7545vw, -10px) scale(0.888);
  animation: fall-19 15s -3s linear infinite;
}
@keyframes fall-19 {
  39.54% {
      transform: translate(34.7813vw, 39.54vh) scale(0.888);
 }
  to {
      transform: translate(33.2679vw, 100vh) scale(0.888);
 }
}
.snow:nth-child(20) {
  opacity: 0.2126;
  transform: translate(93.4986vw, -10px) scale(0.7034);
  animation: fall-20 24s -20s linear infinite;
}
@keyframes fall-20 {
  67.174% {
      transform: translate(84.2288vw, 67.174vh) scale(0.7034);
 }
  to {
      transform: translate(88.8637vw, 100vh) scale(0.7034);
 }
}
.snow:nth-child(21) {
  opacity: 0.5833;
  transform: translate(16.1548vw, -10px) scale(0.295);
  animation: fall-21 15s -27s linear infinite;
}
@keyframes fall-21 {
  63.618% {
      transform: translate(12.9631vw, 63.618vh) scale(0.295);
 }
  to {
      transform: translate(14.55895vw, 100vh) scale(0.295);
 }
}
.snow:nth-child(22) {
  opacity: 0.818;
  transform: translate(59.7392vw, -10px) scale(0.6745);
  animation: fall-22 14s -8s linear infinite;
}
@keyframes fall-22 {
  54.046% {
      transform: translate(63.7082vw, 54.046vh) scale(0.6745);
 }
  to {
      transform: translate(61.7237vw, 100vh) scale(0.6745);
 }
}
.snow:nth-child(23) {
  opacity: 0.3056;
  transform: translate(70.8344vw, -10px) scale(0.8285);
  animation: fall-23 17s -23s linear infinite;
}
@keyframes fall-23 {
  51.332% {
      transform: translate(70.7829vw, 51.332vh) scale(0.8285);
 }
  to {
      transform: translate(70.80865vw, 100vh) scale(0.8285);
 }
}
.snow:nth-child(24) {
  opacity: 0.0102;
  transform: translate(38.1583vw, -10px) scale(0.3793);
  animation: fall-24 19s -9s linear infinite;
}
@keyframes fall-24 {
  41.084% {
      transform: translate(39.9096vw, 41.084vh) scale(0.3793);
 }
  to {
      transform: translate(39.03395vw, 100vh) scale(0.3793);
 }
}
.snow:nth-child(25) {
  opacity: 0.0973;
  transform: translate(79.1179vw, -10px) scale(0.5127);
  animation: fall-25 22s -7s linear infinite;
}
@keyframes fall-25 {
  58.31% {
      transform: translate(75.9756vw, 58.31vh) scale(0.5127);
 }
  to {
      transform: translate(77.54675vw, 100vh) scale(0.5127);
 }
}
.snow:nth-child(26) {
  opacity: 0.2514;
  transform: translate(66.2912vw, -10px) scale(0.833);
  animation: fall-26 30s -16s linear infinite;
}
@keyframes fall-26 {
  32.2% {
      transform: translate(64.2269vw, 32.2vh) scale(0.833);
 }
  to {
      transform: translate(65.25905vw, 100vh) scale(0.833);
 }
}
.snow:nth-child(27) {
  opacity: 0.3255;
  transform: translate(14.1092vw, -10px) scale(0.6636);
  animation: fall-27 19s -13s linear infinite;
}
@keyframes fall-27 {
  71.114% {
      transform: translate(4.9173vw, 71.114vh) scale(0.6636);
 }
  to {
      transform: translate(9.51325vw, 100vh) scale(0.6636);
 }
}
.snow:nth-child(28) {
  opacity: 0.8039;
  transform: translate(61.136vw, -10px) scale(0.5996);
  animation: fall-28 28s -30s linear infinite;
}
@keyframes fall-28 {
  37.696% {
      transform: translate(53.2756vw, 37.696vh) scale(0.5996);
 }
  to {
      transform: translate(57.2058vw, 100vh) scale(0.5996);
 }
}
.snow:nth-child(29) {
  opacity: 0.9372;
  transform: translate(72.4934vw, -10px) scale(0.2481);
  animation: fall-29 26s -13s linear infinite;
}
@keyframes fall-29 {
  58.572% {
      transform: translate(75.416vw, 58.572vh) scale(0.2481);
 }
  to {
      transform: translate(73.9547vw, 100vh) scale(0.2481);
 }
}
.snow:nth-child(30) {
  opacity: 0.1421;
  transform: translate(88.3559vw, -10px) scale(0.6415);
  animation: fall-30 22s -29s linear infinite;
}
@keyframes fall-30 {
  68.576% {
      transform: translate(82.1454vw, 68.576vh) scale(0.6415);
 }
  to {
      transform: translate(85.25065vw, 100vh) scale(0.6415);
 }
}
.snow:nth-child(31) {
  opacity: 0.6329;
  transform: translate(9.2799vw, -10px) scale(0.0533);
  animation: fall-31 30s -27s linear infinite;
}
@keyframes fall-31 {
  31.306% {
      transform: translate(9.1918vw, 31.306vh) scale(0.0533);
 }
  to {
      transform: translate(9.23585vw, 100vh) scale(0.0533);
 }
}
.snow:nth-child(32) {
  opacity: 0.5632;
  transform: translate(46.0055vw, -10px) scale(0.0171);
  animation: fall-32 24s -28s linear infinite;
}
@keyframes fall-32 {
  38.391% {
      transform: translate(38.021vw, 38.391vh) scale(0.0171);
 }
  to {
      transform: translate(42.01325vw, 100vh) scale(0.0171);
 }
}
.snow:nth-child(33) {
  opacity: 0.5546;
  transform: translate(67.5053vw, -10px) scale(0.6475);
  animation: fall-33 16s -23s linear infinite;
}
@keyframes fall-33 {
  54.535% {
      transform: translate(65.6938vw, 54.535vh) scale(0.6475);
 }
  to {
      transform: translate(66.59955vw, 100vh) scale(0.6475);
 }
}
.snow:nth-child(34) {
  opacity: 0.5457;
  transform: translate(33.415vw, -10px) scale(0.5059);
  animation: fall-34 27s -25s linear infinite;
}
@keyframes fall-34 {
  78.301% {
      transform: translate(29.9445vw, 78.301vh) scale(0.5059);
 }
  to {
      transform: translate(31.67975vw, 100vh) scale(0.5059);
 }
}
.snow:nth-child(35) {
  opacity: 0.5583;
  transform: translate(89.4097vw, -10px) scale(0.5302);
  animation: fall-35 25s -29s linear infinite;
}
@keyframes fall-35 {
  65.894% {
      transform: translate(90.7117vw, 65.894vh) scale(0.5302);
 }
  to {
      transform: translate(90.0607vw, 100vh) scale(0.5302);
 }
}
.snow:nth-child(36) {
  opacity: 0.0065;
  transform: translate(47.0912vw, -10px) scale(0.524);
  animation: fall-36 13s -20s linear infinite;
}
@keyframes fall-36 {
  50.755% {
      transform: translate(50.8664vw, 50.755vh) scale(0.524);
 }
  to {
      transform: translate(48.9788vw, 100vh) scale(0.524);
 }
}
.snow:nth-child(37) {
  opacity: 0.4293;
  transform: translate(78.3566vw, -10px) scale(0.471);
  animation: fall-37 20s -24s linear infinite;
}
@keyframes fall-37 {
  56.986% {
      transform: translate(82.4905vw, 56.986vh) scale(0.471);
 }
  to {
      transform: translate(80.42355vw, 100vh) scale(0.471);
 }
}
.snow:nth-child(38) {
  opacity: 0.6706;
  transform: translate(66.4299vw, -10px) scale(0.4507);
  animation: fall-38 13s -10s linear infinite;
}
@keyframes fall-38 {
  46.825% {
      transform: translate(65.0807vw, 46.825vh) scale(0.4507);
 }
  to {
      transform: translate(65.7553vw, 100vh) scale(0.4507);
 }
}
.snow:nth-child(39) {
  opacity: 0.6229;
  transform: translate(87.3153vw, -10px) scale(0.9978);
  animation: fall-39 11s -28s linear infinite;
}
@keyframes fall-39 {
  37.631% {
      transform: translate(84.7538vw, 37.631vh) scale(0.9978);
 }
  to {
      transform: translate(86.03455vw, 100vh) scale(0.9978);
 }
}
.snow:nth-child(40) {
  opacity: 0.5946;
  transform: translate(60.3958vw, -10px) scale(0.4317);
  animation: fall-40 16s -29s linear infinite;
}
@keyframes fall-40 {
  47.369% {
      transform: translate(62.7658vw, 47.369vh) scale(0.4317);
 }
  to {
      transform: translate(61.5808vw, 100vh) scale(0.4317);
 }
}
.snow:nth-child(41) {
  opacity: 0.5554;
  transform: translate(33.6735vw, -10px) scale(0.7595);
  animation: fall-41 13s -21s linear infinite;
}
@keyframes fall-41 {
  54.905% {
      transform: translate(30.7194vw, 54.905vh) scale(0.7595);
 }
  to {
      transform: translate(32.19645vw, 100vh) scale(0.7595);
 }
}
.snow:nth-child(42) {
  opacity: 0.0699;
  transform: translate(90.0206vw, -10px) scale(0.2916);
  animation: fall-42 21s -27s linear infinite;
}
@keyframes fall-42 {
  34.134% {
      transform: translate(94.7796vw, 34.134vh) scale(0.2916);
 }
  to {
      transform: translate(92.4001vw, 100vh) scale(0.2916);
 }
}
.snow:nth-child(43) {
  opacity: 0.9035;
  transform: translate(2.5781vw, -10px) scale(0.162);
  animation: fall-43 23s -7s linear infinite;
}
@keyframes fall-43 {
  76.55% {
      transform: translate(-7.378vw, 76.55vh) scale(0.162);
 }
  to {
      transform: translate(-2.39995vw, 100vh) scale(0.162);
 }
}
.snow:nth-child(44) {
  opacity: 0.9357;
  transform: translate(48.9948vw, -10px) scale(0.6962);
  animation: fall-44 30s -10s linear infinite;
}
@keyframes fall-44 {
  60.458% {
      transform: translate(51.8447vw, 60.458vh) scale(0.6962);
 }
  to {
      transform: translate(50.41975vw, 100vh) scale(0.6962);
 }
}
.snow:nth-child(45) {
  opacity: 0.3352;
  transform: translate(95.8569vw, -10px) scale(0.9479);
  animation: fall-45 24s -2s linear infinite;
}
@keyframes fall-45 {
  72.158% {
      transform: translate(98.9567vw, 72.158vh) scale(0.9479);
 }
  to {
      transform: translate(97.4068vw, 100vh) scale(0.9479);
 }
}
.snow:nth-child(46) {
  opacity: 0.0908;
  transform: translate(36.407vw, -10px) scale(0.0011);
  animation: fall-46 15s -21s linear infinite;
}
@keyframes fall-46 {
  35.173% {
      transform: translate(37.1842vw, 35.173vh) scale(0.0011);
 }
  to {
      transform: translate(36.7956vw, 100vh) scale(0.0011);
 }
}
.snow:nth-child(47) {
  opacity: 0.7935;
  transform: translate(68.1535vw, -10px) scale(0.1654);
  animation: fall-47 21s -2s linear infinite;
}
@keyframes fall-47 {
  41.855% {
      transform: translate(64.0469vw, 41.855vh) scale(0.1654);
 }
  to {
      transform: translate(66.1002vw, 100vh) scale(0.1654);
 }
}
.snow:nth-child(48) {
  opacity: 0.3831;
  transform: translate(16.8872vw, -10px) scale(0.9055);
  animation: fall-48 23s -23s linear infinite;
}
@keyframes fall-48 {
  34.536% {
      transform: translate(9.544vw, 34.536vh) scale(0.9055);
 }
  to {
      transform: translate(13.2156vw, 100vh) scale(0.9055);
 }
}
.snow:nth-child(49) {
  opacity: 0.3711;
  transform: translate(71.909vw, -10px) scale(0.1162);
  animation: fall-49 14s -8s linear infinite;
}
@keyframes fall-49 {
  70.698% {
      transform: translate(74.0175vw, 70.698vh) scale(0.1162);
 }
  to {
      transform: translate(72.96325vw, 100vh) scale(0.1162);
 }
}
.snow:nth-child(50) {
  opacity: 0.3404;
  transform: translate(17.1316vw, -10px) scale(0.5771);
  animation: fall-50 16s -13s linear infinite;
}
@keyframes fall-50 {
  43.549% {
      transform: translate(24.7803vw, 43.549vh) scale(0.5771);
 }
  to {
      transform: translate(20.95595vw, 100vh) scale(0.5771);
 }
}
.snow:nth-child(51) {
  opacity: 0.6315;
  transform: translate(39.6398vw, -10px) scale(0.0575);
  animation: fall-51 26s -21s linear infinite;
}
@keyframes fall-51 {
  56.216% {
      transform: translate(32.1587vw, 56.216vh) scale(0.0575);
 }
  to {
      transform: translate(35.89925vw, 100vh) scale(0.0575);
 }
}
.snow:nth-child(52) {
  opacity: 0.5497;
  transform: translate(99.9672vw, -10px) scale(0.4614);
  animation: fall-52 12s -4s linear infinite;
}
@keyframes fall-52 {
  74.04% {
      transform: translate(109.6148vw, 74.04vh) scale(0.4614);
 }
  to {
      transform: translate(104.791vw, 100vh) scale(0.4614);
 }
}
.snow:nth-child(53) {
  opacity: 0.5084;
  transform: translate(31.1577vw, -10px) scale(0.2484);
  animation: fall-53 12s -23s linear infinite;
}
@keyframes fall-53 {
  66.689% {
      transform: translate(39.1028vw, 66.689vh) scale(0.2484);
 }
  to {
      transform: translate(35.13025vw, 100vh) scale(0.2484);
 }
}
.snow:nth-child(54) {
  opacity: 0.3123;
  transform: translate(72.6917vw, -10px) scale(0.5914);
  animation: fall-54 22s -11s linear infinite;
}
@keyframes fall-54 {
  31.401% {
      transform: translate(69.0013vw, 31.401vh) scale(0.5914);
 }
  to {
      transform: translate(70.8465vw, 100vh) scale(0.5914);
 }
}
.snow:nth-child(55) {
  opacity: 0.8616;
  transform: translate(5.5888vw, -10px) scale(0.7688);
  animation: fall-55 10s -15s linear infinite;
}
@keyframes fall-55 {
  72.917% {
      transform: translate(1.7173vw, 72.917vh) scale(0.7688);
 }
  to {
      transform: translate(3.65305vw, 100vh) scale(0.7688);
 }
}
.snow:nth-child(56) {
  opacity: 0.8926;
  transform: translate(56.8785vw, -10px) scale(0.0791);
  animation: fall-56 23s -12s linear infinite;
}
@keyframes fall-56 {
  30.36% {
      transform: translate(59.1562vw, 30.36vh) scale(0.0791);
 }
  to {
      transform: translate(58.01735vw, 100vh) scale(0.0791);
 }
}
.snow:nth-child(57) {
  opacity: 0.1059;
  transform: translate(13.3244vw, -10px) scale(0.2826);
  animation: fall-57 14s -11s linear infinite;
}
@keyframes fall-57 {
  45.095% {
      transform: translate(10.9358vw, 45.095vh) scale(0.2826);
 }
  to {
      transform: translate(12.1301vw, 100vh) scale(0.2826);
 }
}
.snow:nth-child(58) {
  opacity: 0.9584;
  transform: translate(70.754vw, -10px) scale(0.8564);
  animation: fall-58 22s -13s linear infinite;
}
@keyframes fall-58 {
  72.662% {
      transform: translate(60.8804vw, 72.662vh) scale(0.8564);
 }
  to {
      transform: translate(65.8172vw, 100vh) scale(0.8564);
 }
}
.snow:nth-child(59) {
  opacity: 0.3846;
  transform: translate(22.0362vw, -10px) scale(0.8462);
  animation: fall-59 20s -22s linear infinite;
}
@keyframes fall-59 {
  66.53% {
      transform: translate(12.4328vw, 66.53vh) scale(0.8462);
 }
  to {
      transform: translate(17.2345vw, 100vh) scale(0.8462);
 }
}
.snow:nth-child(60) {
  opacity: 0.8847;
  transform: translate(36.9481vw, -10px) scale(0.9013);
  animation: fall-60 24s -8s linear infinite;
}
@keyframes fall-60 {
  57.03% {
      transform: translate(37.45vw, 57.03vh) scale(0.9013);
 }
  to {
      transform: translate(37.19905vw, 100vh) scale(0.9013);
 }
}
.snow:nth-child(61) {
  opacity: 0.3955;
  transform: translate(81.5889vw, -10px) scale(0.9275);
  animation: fall-61 13s -25s linear infinite;
}
@keyframes fall-61 {
  65.358% {
      transform: translate(86.8168vw, 65.358vh) scale(0.9275);
 }
  to {
      transform: translate(84.20285vw, 100vh) scale(0.9275);
 }
}
.snow:nth-child(62) {
  opacity: 0.8341;
  transform: translate(21.0998vw, -10px) scale(0.7196);
  animation: fall-62 15s -6s linear infinite;
}
@keyframes fall-62 {
  71.316% {
      transform: translate(23.1548vw, 71.316vh) scale(0.7196);
 }
  to {
      transform: translate(22.1273vw, 100vh) scale(0.7196);
 }
}
.snow:nth-child(63) {
  opacity: 0.3997;
  transform: translate(38.5882vw, -10px) scale(0.6075);
  animation: fall-63 14s -13s linear infinite;
}
@keyframes fall-63 {
  44.898% {
      transform: translate(42.7612vw, 44.898vh) scale(0.6075);
 }
  to {
      transform: translate(40.6747vw, 100vh) scale(0.6075);
 }
}
.snow:nth-child(64) {
  opacity: 0.9094;
  transform: translate(12.6253vw, -10px) scale(0.2809);
  animation: fall-64 23s -30s linear infinite;
}
@keyframes fall-64 {
  48.056% {
      transform: translate(20.8896vw, 48.056vh) scale(0.2809);
 }
  to {
      transform: translate(16.75745vw, 100vh) scale(0.2809);
 }
}
.snow:nth-child(65) {
  opacity: 0.4948;
  transform: translate(81.9811vw, -10px) scale(0.9191);
  animation: fall-65 13s -25s linear infinite;
}
@keyframes fall-65 {
  60.833% {
      transform: translate(74.892vw, 60.833vh) scale(0.9191);
 }
  to {
      transform: translate(78.43655vw, 100vh) scale(0.9191);
 }
}
.snow:nth-child(66) {
  opacity: 0.5963;
  transform: translate(42.0628vw, -10px) scale(0.5347);
  animation: fall-66 17s -7s linear infinite;
}
@keyframes fall-66 {
  45.083% {
      transform: translate(48.1063vw, 45.083vh) scale(0.5347);
 }
  to {
      transform: translate(45.08455vw, 100vh) scale(0.5347);
 }
}
.snow:nth-child(67) {
  opacity: 0.6986;
  transform: translate(41.9vw, -10px) scale(0.5062);
  animation: fall-67 19s -8s linear infinite;
}
@keyframes fall-67 {
  46.11% {
      transform: translate(43.0912vw, 46.11vh) scale(0.5062);
 }
  to {
      transform: translate(42.4956vw, 100vh) scale(0.5062);
 }
}
.snow:nth-child(68) {
  opacity: 0.6616;
  transform: translate(35.5304vw, -10px) scale(0.2106);
  animation: fall-68 21s -8s linear infinite;
}
@keyframes fall-68 {
  56.026% {
      transform: translate(35.8319vw, 56.026vh) scale(0.2106);
 }
  to {
      transform: translate(35.68115vw, 100vh) scale(0.2106);
 }
}
.snow:nth-child(69) {
  opacity: 0.5145;
  transform: translate(46.1161vw, -10px) scale(0.0267);
  animation: fall-69 22s -6s linear infinite;
}
@keyframes fall-69 {
  67.513% {
      transform: translate(53.2206vw, 67.513vh) scale(0.0267);
 }
  to {
      transform: translate(49.66835vw, 100vh) scale(0.0267);
 }
}
.snow:nth-child(70) {
  opacity: 0.2252;
  transform: translate(35.2739vw, -10px) scale(0.1371);
  animation: fall-70 13s -14s linear infinite;
}
@keyframes fall-70 {
  60.394% {
      transform: translate(33.0253vw, 60.394vh) scale(0.1371);
 }
  to {
      transform: translate(34.1496vw, 100vh) scale(0.1371);
 }
}
.snow:nth-child(71) {
  opacity: 0.6612;
  transform: translate(49.9325vw, -10px) scale(0.5006);
  animation: fall-71 17s -1s linear infinite;
}
@keyframes fall-71 {
  37.366% {
      transform: translate(50.9881vw, 37.366vh) scale(0.5006);
 }
  to {
      transform: translate(50.4603vw, 100vh) scale(0.5006);
 }
}
.snow:nth-child(72) {
  opacity: 0.9193;
  transform: translate(74.3942vw, -10px) scale(0.8692);
  animation: fall-72 28s -16s linear infinite;
}
@keyframes fall-72 {
  72.777% {
      transform: translate(78.59vw, 72.777vh) scale(0.8692);
 }
  to {
      transform: translate(76.4921vw, 100vh) scale(0.8692);
 }
}
.snow:nth-child(73) {
  opacity: 0.9545;
  transform: translate(22.9568vw, -10px) scale(0.5618);
  animation: fall-73 10s -24s linear infinite;
}
@keyframes fall-73 {
  33.926% {
      transform: translate(32.7935vw, 33.926vh) scale(0.5618);
 }
  to {
      transform: translate(27.87515vw, 100vh) scale(0.5618);
 }
}
.snow:nth-child(74) {
  opacity: 0.3302;
  transform: translate(89.1983vw, -10px) scale(0.9275);
  animation: fall-74 20s -20s linear infinite;
}
@keyframes fall-74 {
  54.383% {
      transform: translate(82.9152vw, 54.383vh) scale(0.9275);
 }
  to {
      transform: translate(86.05675vw, 100vh) scale(0.9275);
 }
}
.snow:nth-child(75) {
  opacity: 0.4858;
  transform: translate(97.0616vw, -10px) scale(0.1447);
  animation: fall-75 25s -15s linear infinite;
}
@keyframes fall-75 {
  53.481% {
      transform: translate(90.449vw, 53.481vh) scale(0.1447);
 }
  to {
      transform: translate(93.7553vw, 100vh) scale(0.1447);
 }
}
.snow:nth-child(76) {
  opacity: 0.389;
  transform: translate(10.6097vw, -10px) scale(0.8346);
  animation: fall-76 30s -20s linear infinite;
}
@keyframes fall-76 {
  46.288% {
      transform: translate(3.9334vw, 46.288vh) scale(0.8346);
 }
  to {
      transform: translate(7.27155vw, 100vh) scale(0.8346);
 }
}
.snow:nth-child(77) {
  opacity: 0.4734;
  transform: translate(2.5011vw, -10px) scale(0.686);
  animation: fall-77 29s -9s linear infinite;
}
@keyframes fall-77 {
  50.946% {
      transform: translate(-1.8337vw, 50.946vh) scale(0.686);
 }
  to {
      transform: translate(0.3337vw, 100vh) scale(0.686);
 }
}
.snow:nth-child(78) {
  opacity: 0.0813;
  transform: translate(65.1304vw, -10px) scale(0.1698);
  animation: fall-78 21s -22s linear infinite;
}
@keyframes fall-78 {
  56.193% {
      transform: translate(69.562vw, 56.193vh) scale(0.1698);
 }
  to {
      transform: translate(67.3462vw, 100vh) scale(0.1698);
 }
}
.snow:nth-child(79) {
  opacity: 0.1708;
  transform: translate(60.9072vw, -10px) scale(0.2152);
  animation: fall-79 18s -10s linear infinite;
}
@keyframes fall-79 {
  69.092% {
      transform: translate(61.6154vw, 69.092vh) scale(0.2152);
 }
  to {
      transform: translate(61.2613vw, 100vh) scale(0.2152);
 }
}
.snow:nth-child(80) {
  opacity: 0.864;
  transform: translate(23.7996vw, -10px) scale(0.2576);
  animation: fall-80 23s -16s linear infinite;
}
@keyframes fall-80 {
  49.277% {
      transform: translate(20.0759vw, 49.277vh) scale(0.2576);
 }
  to {
      transform: translate(21.93775vw, 100vh) scale(0.2576);
 }
}
.snow:nth-child(81) {
  opacity: 0.5539;
  transform: translate(96.2058vw, -10px) scale(0.9539);
  animation: fall-81 26s -4s linear infinite;
}
@keyframes fall-81 {
  61.026% {
      transform: translate(91.4798vw, 61.026vh) scale(0.9539);
 }
  to {
      transform: translate(93.8428vw, 100vh) scale(0.9539);
 }
}
.snow:nth-child(82) {
  opacity: 0.5463;
  transform: translate(33.499vw, -10px) scale(0.7955);
  animation: fall-82 13s -5s linear infinite;
}
@keyframes fall-82 {
  31.811% {
      transform: translate(24.718vw, 31.811vh) scale(0.7955);
 }
  to {
      transform: translate(29.1085vw, 100vh) scale(0.7955);
 }
}
.snow:nth-child(83) {
  opacity: 0.8031;
  transform: translate(5.1147vw, -10px) scale(0.1978);
  animation: fall-83 30s -10s linear infinite;
}
@keyframes fall-83 {
  64.926% {
      transform: translate(10.1191vw, 64.926vh) scale(0.1978);
 }
  to {
      transform: translate(7.6169vw, 100vh) scale(0.1978);
 }
}
.snow:nth-child(84) {
  opacity: 0.6988;
  transform: translate(34.5261vw, -10px) scale(0.8016);
  animation: fall-84 28s -19s linear infinite;
}
@keyframes fall-84 {
  58.514% {
      transform: translate(25.3692vw, 58.514vh) scale(0.8016);
 }
  to {
      transform: translate(29.94765vw, 100vh) scale(0.8016);
 }
}
.snow:nth-child(85) {
  opacity: 0.6134;
  transform: translate(61.6632vw, -10px) scale(0.4886);
  animation: fall-85 21s -28s linear infinite;
}
@keyframes fall-85 {
  64.231% {
      transform: translate(69.149vw, 64.231vh) scale(0.4886);
 }
  to {
      transform: translate(65.4061vw, 100vh) scale(0.4886);
 }
}
.snow:nth-child(86) {
  opacity: 0.1788;
  transform: translate(88.9235vw, -10px) scale(0.3938);
  animation: fall-86 26s -10s linear infinite;
}
@keyframes fall-86 {
  71.701% {
      transform: translate(86.23vw, 71.701vh) scale(0.3938);
 }
  to {
      transform: translate(87.57675vw, 100vh) scale(0.3938);
 }
}
.snow:nth-child(87) {
  opacity: 0.1634;
  transform: translate(36.5679vw, -10px) scale(0.9632);
  animation: fall-87 16s -28s linear infinite;
}
@keyframes fall-87 {
  77.861% {
      transform: translate(34.8015vw, 77.861vh) scale(0.9632);
 }
  to {
      transform: translate(35.6847vw, 100vh) scale(0.9632);
 }
}
.snow:nth-child(88) {
  opacity: 0.092;
  transform: translate(31.7295vw, -10px) scale(0.7088);
  animation: fall-88 24s -30s linear infinite;
}
@keyframes fall-88 {
  33.216% {
      transform: translate(36.0483vw, 33.216vh) scale(0.7088);
 }
  to {
      transform: translate(33.8889vw, 100vh) scale(0.7088);
 }
}
.snow:nth-child(89) {
  opacity: 0.7824;
  transform: translate(19.9191vw, -10px) scale(0.808);
  animation: fall-89 28s -26s linear infinite;
}
@keyframes fall-89 {
  33.616% {
      transform: translate(19.0581vw, 33.616vh) scale(0.808);
 }
  to {
      transform: translate(19.4886vw, 100vh) scale(0.808);
 }
}
.snow:nth-child(90) {
  opacity: 0.4481;
  transform: translate(99.7436vw, -10px) scale(0.7313);
  animation: fall-90 25s -6s linear infinite;
}
@keyframes fall-90 {
  77.438% {
      transform: translate(104.5392vw, 77.438vh) scale(0.7313);
 }
  to {
      transform: translate(102.1414vw, 100vh) scale(0.7313);
 }
}
.snow:nth-child(91) {
  opacity: 0.0045;
  transform: translate(36.6657vw, -10px) scale(0.2737);
  animation: fall-91 22s -19s linear infinite;
}
@keyframes fall-91 {
  33.04% {
      transform: translate(42.6296vw, 33.04vh) scale(0.2737);
 }
  to {
      transform: translate(39.64765vw, 100vh) scale(0.2737);
 }
}
.snow:nth-child(92) {
  opacity: 0.0737;
  transform: translate(43.522vw, -10px) scale(0.1184);
  animation: fall-92 25s -28s linear infinite;
}
@keyframes fall-92 {
  52.782% {
      transform: translate(46.5841vw, 52.782vh) scale(0.1184);
 }
  to {
      transform: translate(45.05305vw, 100vh) scale(0.1184);
 }
}
.snow:nth-child(93) {
  opacity: 0.3243;
  transform: translate(24.1184vw, -10px) scale(0.0462);
  animation: fall-93 22s -12s linear infinite;
}
@keyframes fall-93 {
  54.044% {
      transform: translate(31.3078vw, 54.044vh) scale(0.0462);
 }
  to {
      transform: translate(27.7131vw, 100vh) scale(0.0462);
 }
}
.snow:nth-child(94) {
  opacity: 0.9076;
  transform: translate(56.4706vw, -10px) scale(0.4363);
  animation: fall-94 17s -6s linear infinite;
}
@keyframes fall-94 {
  75.003% {
      transform: translate(55.0647vw, 75.003vh) scale(0.4363);
 }
  to {
      transform: translate(55.76765vw, 100vh) scale(0.4363);
 }
}
.snow:nth-child(95) {
  opacity: 0.9162;
  transform: translate(15.2374vw, -10px) scale(0.7281);
  animation: fall-95 29s -9s linear infinite;
}
@keyframes fall-95 {
  74.352% {
      transform: translate(16.8983vw, 74.352vh) scale(0.7281);
 }
  to {
      transform: translate(16.06785vw, 100vh) scale(0.7281);
 }
}
.snow:nth-child(96) {
  opacity: 0.266;
  transform: translate(35.8462vw, -10px) scale(0.9413);
  animation: fall-96 18s -20s linear infinite;
}
@keyframes fall-96 {
  52.278% {
      transform: translate(40.6587vw, 52.278vh) scale(0.9413);
 }
  to {
      transform: translate(38.25245vw, 100vh) scale(0.9413);
 }
}
.snow:nth-child(97) {
  opacity: 0.8529;
  transform: translate(17.8085vw, -10px) scale(0.086);
  animation: fall-97 13s -9s linear infinite;
}
@keyframes fall-97 {
  61.749% {
      transform: translate(18.6542vw, 61.749vh) scale(0.086);
 }
  to {
      transform: translate(18.23135vw, 100vh) scale(0.086);
 }
}
.snow:nth-child(98) {
  opacity: 0.3043;
  transform: translate(1.025vw, -10px) scale(0.1973);
  animation: fall-98 23s -30s linear infinite;
}
@keyframes fall-98 {
  41.54% {
      transform: translate(1.5512vw, 41.54vh) scale(0.1973);
 }
  to {
      transform: translate(1.2881vw, 100vh) scale(0.1973);
 }
}
.snow:nth-child(99) {
  opacity: 0.259;
  transform: translate(84.7139vw, -10px) scale(0.4183);
  animation: fall-99 15s -2s linear infinite;
}
@keyframes fall-99 {
  72.747% {
      transform: translate(89.672vw, 72.747vh) scale(0.4183);
 }
  to {
      transform: translate(87.19295vw, 100vh) scale(0.4183);
 }
}
.snow:nth-child(100) {
  opacity: 0.6177;
  transform: translate(83.2898vw, -10px) scale(0.8925);
  animation: fall-100 14s -19s linear infinite;
}
@keyframes fall-100 {
  46.906% {
      transform: translate(76.1886vw, 46.906vh) scale(0.8925);
 }
  to {
      transform: translate(79.7392vw, 100vh) scale(0.8925);
 }
}
