@font-face {
	font-family: 'amiibo-font';
	src: url('amiibo-font/amiibo-font.woff2') format('woff2'), /* newer */
		 url('amiibo-font/amiibo-font.woff') format('woff'); /* older */
}

@font-face {
	font-family: 'pokemon-font';
	src: url('pokemon-font/pocket-monk.woff2') format('woff2'), /* newer */
		 url('pokemon-font/pocket-monk.woff') format('woff'); /* older */
}

@font-face {
	font-family: 'comix-font';
	src: url('comix-font/comix.woff2') format('woff2'), /* newer */
		 url('comix-font/comix.woff') format('woff'); /* older */
}

@font-face {
	font-family: 'norse-font';
	src: url('norse-font/norse.woff2') format('woff2'), /* newer */
		 url('norse-font/norse.woff') format('woff'); /* older */
}

.amiibo-font {
	font-family: 'amiibo-font';
}

.pokemon-font {
	font-family: 'pokemon-font';
}

.comix-font {
	font-family: 'comix-font';
	letter-spacing: 2px;
}

.norse-font {
	font-family: 'norse-font';
}

.lato-font {
	font-family: 'Lato';
	font-weight: 700;
}

.lato-font--black {
	font-family: 'Lato';
	font-weight: 900;
}

.rubik-font--black {
	font-family: 'Rubik';
	font-weight: 900;
}